
<div class="form-group">

    
        <label for="dept">Department ID</label>
        <input type="number" class="form-control" name="dept" placeholder="" [(ngModel)]="com.deptid">
        
   
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" placeholder="" [(ngModel)]="com.name">
       
   
        <label for="groupname">Group Name</label>
        <input type="text" class="form-control" name="groupname" placeholder="" [(ngModel)]="com.groupname">
        
    
        <label  for="date">Date</label>
        <input type="date" class="form-control" name="date" placeholder="" [(ngModel)]="com.date">
        
    <button (click)="addcom()" class="btn btn-primary">Add Detail</button>
</div>

